<ion-header-bar align-title="center" class="bar bar-header bar-positive">
  <button class="button button-icon icon ion-android-person"></button>
  <h1 class="title">我的约饭</h1>
  <button class="button button-icon icon ion-android-add" ng-click="add_new_fanju()"></button>
  </ion-header-bar>
<ion-content>
  <h5>已敲定的约饭</h5>
  <div class='list'>
    <a class="item item-avatar" href="#" ng-repeat="fanju in fanjus.settled">
      <img src="http://placekitten.com/g/200/300">
      <h2>{{ fanju.get('title') }}</h2>
      <p>Something</p>
    </a>
  </div>
  <h5>正在筹划中的约饭</h5>
  <ion-list>
    <ion-item ng-repeat="fanju in fanjus.planned">
      <a class="item item-avatar" href="#">
        <img src="http://placekitten.com/g/200/300">
        <h2>{{ fanju.get('title') }}</h2>
        <p>Something</p>
      </a>
    </ion-item>
  </ion-list>
  <button class="button" ng-click="logout()">logout</button>
</ion-content>
